* {
    font-family: system-ui;
}

body {
    background-color: white;
    margin: 0px;
}




.header {
    background-color: rgb(249, 249, 249);
    padding-left: 12%;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-bottom: 40px;
    line-height: 35px;
}
.subheader{
    color: rgb(173, 171, 171);
    
}

/*.Header h1 {
    margin: 0px;
}*/

.header h4 {
   margin: 5px;
}

.nav-bar {
    padding: 5px;
}

.textproperties {
    display: flex;
    font-size: 15px;
    padding-left: 150px;
}

.textproperties li {
    padding: 20px;
    list-style-type: none;
    font-weight: bold;
}


.textproperties li a {
    color: black;
    text-decoration: none;
}
#textcolor{
    color: rgb(87, 87, 87);
}

.office-image img {
    width: 100%;
}

.webdev-para {
    display: flex;
    padding: 20px;
    text-align: justify;
}

.items-align-left {
    padding-left: 130px;
    padding-right: 45px;
    width: 35%;
}

.items-align-right {
    padding-left: 45px;
    padding-right: 130px;
    width: 60%;
}

.gallery-logo {
    display: flex;
    padding: 20px;
    text-align: justify;
}

.gallerypara {
    padding-left: 130px;
    padding-right: 45px;
    width: 35%;
}

.logo {
    padding-left: 50px;
    padding-right: 130px;
    width: 60%;
}

.grid-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    row-gap: 12%;
    column-gap: 7%;
    padding-bottom: 150px;
}

.logo img {
    width: 150px;
}

.footer-container {
    background-color: rgb(90, 43, 184);
    padding-left: 200px;
    padding-right: 150px;
    display: flex;
    color: rgb(226, 226, 226);
    justify-content: space-between;
   
}

.adrs {
    padding: 5px;
}

.aboutthepage {
    padding: 5px;
}

.archives {
    padding-left: 5px;
   
}

.footernav  {
    padding-left: 5px;
    
}
.bottom-border
{
    border-bottom: rgb(100, 88, 116) 1px solid;
}
iframe{
    width: 200px;
    height:200px;
}



@media screen and (max-width: 520px) {
    #aboutthepage {
        width: 100%;
        flex-direction: column;
    }
    .header {
        width: 100%;
        margin: 0px;
        padding: 15px;
    }
    .textproperties {
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }
    .webdev-para {
        flex-direction: column;
        width: 90%;
        padding: 15px;
    }
    .items-align-left {
        width: 100%;
        padding: 0px;
    }
    .items-align-right {
        width: 100%;
        padding: 0px;
    }
    .office-image {
        width: 100%;
    }
    .items-align-right h2 {
        text-align: left;
       
    }
    .gallery-logo {
        flex-direction: column;
    }
    .gallerypara {
        width: 100%;
        padding: 0px;
    }
    .logo {
        padding: 0px;
        width: 100%;
    }
    .grid-container {
        grid-template-columns: 50px 50px;
        column-gap: 40%;
        row-gap: 0px;
    }
    .archives {
        text-align: left;
    }
   
    .footer-container {
        flex-direction: column;
        padding: 0px;
        text-align: left;
        background-color: rgb(109, 44, 222);
    }
    iframe{
        width: 100px;
        height:100px;
    }
    
    
}


